<form nz-form
      [formGroup]="form"
      class="login-form"
      (ngSubmit)="submitForm()">
  <h2 nz-typography>Войти</h2>
  <nz-form-item class="input">
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text"
               nz-input
               formControlName="email"
               placeholder="Логин" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="input">
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password"
               nz-input
               formControlName="password"
               placeholder="Пароль" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row
       class="login-form-margin">
    <div nz-col
         [nzSpan]="12">
      <label nz-checkbox
             formControlName="RememberMe">
        <span>Запомнить</span>
      </label>
    </div>
    <div nz-col
         [nzSpan]="12">
      <a class="login-form-forgot">Восстановление пароля</a>
    </div>
  </div>
  <button nz-button
          type="submit"
          class="login-form-button login-form-margin"
          [nzType]="'primary'">Войти</button>
  Or
  <a>register now!</a>
</form>
