<form class="form">
  <h2 nz-typography>TodoList title</h2>
  <input nz-input
         placeholder="Basic usage"
         class="input" />
  <button nz-button
          nzType="primary">+</button>
  <div class="todo-lists"
       *ngFor="let task of task1">
    <label nz-checkbox>{{task.title}} </label>
    <button nz-button
            nzType="primary"
            nzDanger
            (click)="deleteTask(task.id)">
    Del</button>
  </div>
  <div class="filters">
    <button nz-button
            nzType="primary">All</button>
    <button nz-button
            nzType="primary">Active</button>
    <button nz-button
            nzType="primary">Completed</button>
  </div>

</form>
