.wrapper {
  margin: 10px 30px;
  .form {
    display: flex;
    justify-content: space-between;
    .input {
      margin-bottom: 10px;
    }
  }
  .todo-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .btn-del {
      margin-left: 30px;
    }
  }

  .all {
    margin-right: 10px;
  }
  .active {
    margin-right: 10px;
  }
}
