.header {
  flex: 1;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  flex-wrap: wrap;
  input {
    width: 20%;
  }
}
.main {
  flex-wrap: wrap;
  display: flex;
  flex: 1;

  .wrapper {
    display: flex;
    flex: 0 0 25%;
    flex-wrap: wrap;
  }
}
